.form-control {


    background-color: rebeccapurple;
    color: seashell;
   width: fit-content;
    border-radius: 2em;
    height: 70px;
    width: 400px;
  
}

button{

    border-radius: 2em;
    width: 150px;
    height: 70px;
    margin:0;
}
h1,h4{

    text-align: center;
}